#happy{
  position:fixed;
  top:0;
  right: 0;
  bottom:0;
  left:0;
  background-color:#f799aa;
  z-index: 5;
  display: none; 
}

#happy-inner{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width:540px;
  background:url(../images/happy-bg.jpg) no-repeat top center;
  background-size: 100%;
  position: relative;
}

#happy-kv{
  width:85.625%;
  margin: 0 auto;
  padding-top: 15px;
}

#happy-kv img{
  display: block;
  width: 100%;
}

#happy-content{
  width: 70%;
  margin:0 auto;
  margin-top: 22px;
  color:#1e1e1e;
  font-size: 14px;
  font-weight:800;
  line-height:2em;
}

#happy-btn{
  position: absolute;
  left: 14%;
  right: 14%;
  width: 72%;
  bottom: 70px;  
}

#happy-btn img{
  display: block;
  width: 100%;
}
#happy-download{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#happy-download img{
  display: block;
  width: 100%;
}



/* iphone4 微信中可视区域高度416px */
@media (min-height:0px) and (max-height:416px)  {
  #happy-kv{
    width:68%;
    padding-top: 0px;
  }
  #happy-content{
    margin-top: 15px;
  }
}

/* iphone5   微信中可视区域高度504px */
@media (min-height:417px) and (max-height:504px)  {
  
}  


/* iphone6  微信中可视区域高度603px */
@media  (min-height:505px) and (max-height:603px)  {
  #happy-kv{
    padding-top: 20px;
  }
  #happy-content{
    margin-top: 50px;
  }
  #happy-btn{
    bottom: 90px;  
  }
} 