*{
  margin:0;
  padding:0;
}

html,body{
  height: 100%;
}

img{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
}

/* 半透明遮罩层 */
#loading-hover{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  overflow: hidden;
  background-color:#000;
  opacity: 0.5;
  z-index: 9; 
}

#loading-bar-wrap{
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 9;
}

#loading-bar{
  position: absolute;
  width: 62.5%;
  left:18.75%;
  right:18.75%;
  background: #fff;
  height: 12px;
  z-index: 10;
  border-radius: 8px;
  border: 2px solid #fff;
}

#loading-bar-inner{
  position: absolute;
  height: 12px;
  background:#ff7d95;
  border-radius: 6px;
  width:0%;
}

#loading-bar-inner .hdj{
  position:absolute;
  right: -22px;
  top:-1px;
  height: 13.5px;
  width: 35px;
}

#loading-bar-inner .hdj img{
  display: block;
  height: 13.5px;
  width: 30px;
} 

/* iphone4 微信中可视区域高度416px */
@media (min-height:0px) and (max-height:416px)  {
  #loading-bar{
    width: 50%;
    left:25%;
    right: 25%;
    top:165px;
  }
}

/* iphone5   微信中可视区域高度504px */
@media (min-height:417px) and (max-height:504px){
  #loading-bar{
    top:199px;
  }
}  

/* iphone6  微信中可视区域高度603px */
@media  (min-height:505px) and (max-height:603px){
  #loading-bar{
    top:235px;
  }
}