#share{
  display: none;
  position: fixed;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  z-index: 999;
}
#share h3{
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  padding: 0 14px;
  line-height: 2em;
}